* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/*Styles the company name on the website and spaces the heading from the sides of the window*/ 
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;

}

.header h1 .seo {
    color: #d9dcd6;
}

/*specifies how the nav bar sits in relation to the viewing window and specifies a color for the links inside*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*positions the sidebar, centers and styles the text and logos inside*/
.float-left {
    float: left;
    margin-right: 25px;
    max-height:200px;
}

.float-right {
    float: right;
    margin-left: 25px;
    max-height:200px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*positions the sidebar in relation to the window and the blurbs, styles the text and adds color. Allows it to float in space rather than bump up against the other elements*/ 
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
    
}

.benefit-section {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-section h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*styles the three blurbs below the giant image, positions the text and headers in relation to the boxes, and positions the images in relation to the text*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*styles and aligns the footer, pads it and gives it space from all other objects nearby*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
